:root {
  --font-weight-normal: 400;
  --font-weight-header: 700;
  --font-family-text: 'Inter-Variable', sans-serif;
  --font-family-accent: 'PressStart2P', serif;
  --bg-color: #FFF;
  --accent-color: #000;
}
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
